<!DOCTYPE html>
<html>
<head>
    {# META SECTION #}
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {# END META SECTION #}

    <title>WITS-{{ "now"|date("Y") }}{% block title %}{% endblock %}</title>

    {% block stylesheets %}{% endblock %}
    {# CSS INCLUDE #}
    <link rel="stylesheet" type="text/css" id="theme" href="{{ asset("bundles/wits/css/theme-default.css") }}"/>
    <link rel="stylesheet" type="text/css" id="theme1" href="{{ asset("bundles/wits/css/geekdos/css/app.css") }}"/>
    {#  EOF CSS INCLUDE #}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

<!-- START PAGE CONTAINER -->
<div class="page-container page-navigation-top page-navigation-top-custom">
    <!-- PAGE CONTENT -->
    <div class="page-content">
        {% block wits_nav %}
            {{ render(controller('WitsFrontBundle:Conference:headerConference')) }}
            {{ render(controller('WitsFrontBundle:Conference:menuRender')) }}
        {% endblock wits_nav %}
        {% block slider %}{% endblock slider %}
        {% block breadcrumb %}{% endblock breadcrumb %}
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-9">
                                    {% block body %}{% endblock body %}
                                </div>
                                {% block rightSideBar %}
                                    {% include ':Includes:rightSideBar.html.twig' %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->

{% block footer %}
    {{ render(controller('WitsFrontBundle:Conference:footerConference')) }}
{% endblock %}

{% block message_box %}
    {% include ':Includes:messageBoxLogin.html.twig' %}
{% endblock %}

{% include ':Includes:js.html.twig' %}

{% block javascripts %}{% endblock %}
</body>
</html>
