{% extends '::base.html.twig' %}
{% block body %}
    {% block sonata_page_breadcrumb %}
        <div class="row-fluid clearfix">
            {{ sonata_block_render_event('breadcrumb', { 'context': 'news_archive', 'collection': collection, 'tag': tag, 'current_uri': app.request.requestUri }) }}
        </div>
    {% endblock %}
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body posts">
                    <div class="row">
                        {% for post in pager.getResults() %}
                            <div class="col-md-6">
                                <div class="post-item">
                                    <div class="post-title">
                                        <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title }}</a>
                                    </div>
                                    <div class="post-date"><span
                                                class="fa fa-calendar"></span> {{ post.publicationDateStart | format_date }}
                                        /
                                        <a href="#">{{ 'comments_count'|trans({'%comments_count%': post.commentsCount }, 'SonataNewsBundle') }}</a>
                                        /
                                        <a href="#">{{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }}</a>
                                    </div>
                                    <div class="post-text">
                                        {% media post.image, 'big' %}
                                        <p>
                                            {{ post.abstract }}
                                        <p>
                                    </div>
                                    <div class="post-row">
                                        <div class="post-info">
                                            <span class="fa fa-thumbs-up"></span> 15 - <span class="fa fa-eye"></span>
                                            15,332 - <span class="fa fa-star"></span> 322
                                        </div>
                                        <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}"
                                           class="btn btn-default btn-rounded pull-right">Read more &RightArrow;</a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            {{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <ul class="pagination pagination-sm pull-right push-down-20">
                <li {% if pager.page == pager.lastPage %} class="disabled"{% endif %}>
                    <a href="{{ url(route, route_parameters|merge({'page': pager.nextpage})) }}"
                       title="{{ 'link_previous_page'|trans({}, 'SonataNewsBundle') }}">«</a>
                </li>
                <li {% if pager.page == pager.firstPage %} class="disabled"{% endif %}>
                    <a href="{{ url(route, route_parameters|merge({'page': pager.previouspage})) }}"
                       title="{{ 'link_next_page'|trans({}, 'SonataNewsBundle') }}">»</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock body %}

{% block rightSideBar %}
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Recent News</h3>
                <div class="links small">
                    {% for post in pager.getResults() %}
                        <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Tags</h3>
                <ul class="list-tags push-up-10">
                    {% for post in pager.getResults() %}
                        {% for tag in post.tags %}
                            <li><a href="{{ url('sonata_news_tag', { 'tag': tag.slug } ) }}"><span
                                            class="fa fa-tag"></span> {{ tag.name }}
                                </a>{% if not loop.last %},{% endif %}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
