<ul class="media-list">
    {% for comment in pager.results %}
        <li class="media">
            <a class="pull-left" href="{{ comment.url }}" target="new" rel="nofollow">
                <img class="media-object img-text" src="{{ asset('bundles/wits/assets/images/users/no-image.jpg') }}"
                     alt="{{ comment.name }}" width="64">
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{ comment.name }}</h4>
                <p>
                    {{ comment.message }}
                </p>
                <p class="text-muted">{{ comment.createdAt | format_date }}</p>
            </div>
        </li>
    {% else %}
        <li>{{ 'no_comments_available'|trans({}, 'SonataNewsBundle') }}</li>
    {% endfor %}
</ul>

