{% extends '::base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body posts">

                    <div class="post-item">
                        <div class="post-title">
                            {{ post.title }}
                        </div>
                        <div class="post-date"><span class="fa fa-calendar"></span> {{ post.publicationDateStart | format_date }} / <a
                                    href="#">{{ 'comments_count'|trans({'%comments_count%': post.commentsCount }, 'SonataNewsBundle') }}</a> / <a href="#">{{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }}</a></div>
                        <div class="post-text">
                            <p>
                                {{ post.abstract }}
                            </p>
                            <div class="img-text post-image">
                                {% media post.image, 'wide' %}
                            </div>
                            {{ post.content|raw }}
                        </div>
                        <div class="post-row">
                            <div class="post-info">
                                <span class="fa fa-thumbs-up"></span> 15 - <span class="fa fa-eye"></span> 15,332 -
                                <span class="fa fa-star"></span> 322
                            </div>
                        </div>
                    </div>

                    <h3 class="push-down-20">{{ 'title_comments'|trans({}, 'SonataNewsBundle') }}</h3>
                    {% render(controller('SonataNewsBundle:Post:comments', {'postId': post.id})) %}
                    {% if post.iscommentable %}
                        {% render(controller('SonataNewsBundle:Post:addCommentForm', {
                        'postId': post.id,
                        'form': form
                        })) %}
                    {% else %}
                        <div>
                            {{ 'message_comments_are_closed'|trans({}, 'SonataNewsBundle') }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}